	<h1> Norman White's Web Page</h1>
	<table>
		<tr>
		<h2>Education</h2>
	<PhD from George Mason in 2007 in Biological Defense<br>
	EJD from Concord Law School in 2010 - Speciality is Criminal Justice<br>
	Ms in Info. Systems from Strayer Univ in 1993<br>
	MBA from Strayer University in 1993<br>
	BS in CS from Strayer University in 1992<br>
		</tr>
		<tr>
			<td>
				<h2>Interests</h2>
				Genetics<br>
				The Future<br>
				AI and Machine Learning<br>
				UFOs
			</td>
			<td>
				<h2>Wishes, Hopes, and Dreams</h2>
				Live to age 120<br>
				Stay strong and healthy<br>
				Keep my mind sharp<br>
				Win the Lottery<br>
				Use some of the money to start my own company
				Move to Arizona or New Mexico
			</td>
		</tr>
	</table>

<%= link_to 'My Blog',articles_path %><br>
<%= link_to 'About', about_path %> <br>
<%= link_to image_tag('DSCN0005.png'),articles_path %>

